<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>簡單的心理測驗</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js"></script>
  <style></style>
</head>
<body>

  <div id="app" class="container mb-4">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">簡單的心理測驗</a>
      <button class="navbar-toggler" type="button">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item" :class="{active: page === 'game'}">
            <a class="nav-link" href="#" @click.prevent="setPage('game')">遊戲</a>
          </li>
          <li class="nav-item" :class="{active: page === 'create'}">
            <a class="nav-link" href="#" @click.prevent="setPage('create')">新增測驗</a>
          </li>
        </ul>
      </div>
    </nav>
    <div v-show="page === 'game'">
      <template v-for="(q, i) in questions">
        <div class="quest p-3 bg-light" v-show="current === i">
          <h3 class="text-secondary" v-html="questions_show[i]"></h3>
          <div class="d-flex flex-column">
            <div v-for="(answer, j) in q.options">
              <input class="mx-2" type="radio" :id="'option' + i + j" :value="answer.value" v-model="q.selected">
              <label class="text-info" :for="'option' + i + j">{{ j + 1 }}. {{ answer.ans }}</label>
            </div>
          </div>
        </div>
      </template>
      <nav class="d-flex justify-content-center mt-3">
        <ul class="pagination">
          <li class="page-item" :class="{disabled: current === 0}"><a class="page-link" href="#" @click.prevent="setCurrent(current - 1)">上一頁</a></li>
          <li class="page-item" :class="{disabled: current === questions.length -1}"><a class="page-link" href="#" @click.prevent="setCurrent(current + 1, true)">下一頁</a></li>
        </ul>
      </nav>
      <div class="d-flex justify-content-center mt-3">
        <button class="btn btn-success mx-1" @click="settlement">看結果</button>
        <button class="btn btn-secondary mx-1" @click="reset">重置</button>
      </div>
    </div>
    <div v-show="page === 'create'">
      <div class="quest p-3 bg-light">
        <h3 class="d-flex no-gutters text-secondary">
          <label class="col-1">題目：</label>
          <textarea class="col-11 p-1" v-model="new_question.quest" @input="autoHeight($event)"></textarea>
        </h3>
          <div class="d-flex flex-column mt-3 no-gutters">
            <div class="d-flex mb-3" v-for="(answer, j) in new_question.options">
              <div class="col-10 d-flex no-gutters">
                <label class="col-1">答案</label>
                <input class="col-11" type="text" v-model="answer.ans" />
              </div>
              <div class="col-2 d-flex no-gutters">
                <label class="col-6">分數</label>
                <select class="col-6" v-model="answer.value">
                  <option :value="v" v-for="v in 4">{{ v }}</option>
                </select>
              </div>
            </div>
          </div>
      </div>
      <div class="d-flex justify-content-center mt-3">
        <button class="btn btn-success mx-1" @click="createQuest">加入</button>
        <button class="btn btn-secondary mx-1" @click="resetQuest">清除</button>
      </div>
    </div>
  </div>


  <script type="text/javascript">
  var vm = new Vue({
    el: '#app',
    data: {
      page: 'game',
      questions: [
        {
          quest: '如果你是童話故事中，想吃掉三隻小豬的大野狼，你認為使用哪一種方法可以容易吃掉他們？',
          options: [
            { ans: '用煙把小豬燻到昏倒',         value: 1 },
            { ans: '從煙囪或其他入口偷偷爬進屋',  value: 2 },
            { ans: '用槌子把門破壞闖入屋內',      value: 3 },
            { ans: '模仿豬媽媽的聲音騙小豬開門',  value: 4 }
          ],
          selected: null,
        },
        {
          quest: '剪刀、石頭、布，你第一直覺會出哪一個？',
          options: [
            { ans: '剪刀', value: 3 },
            { ans: '石頭', value: 2 },
            { ans: '布',   value: 1 }
          ],
          selected: null
        },
        {
          quest: '下列四項運動項目中，假設你要開始嘗試的話，你最想要做哪一項？',
          options: [
            { ans: '潛水',   value: 3 },
            { ans: '滑翔翼', value: 4 },
            { ans: '滑水',   value: 2 },
            { ans: '長途徒步旅行', value: 1 }
          ],
          selected: null,
        }
      ],
      current: 0,
      new_question: {
        quest: "運氣來的時候，什麼都擋不住，運氣差的時候，喝口水都塞牙縫。那麼，怎樣做才會有好運氣呢？其實你並不需要做什麼，只要每天都保持開心，那樣好運就會關顧你了。你知道你的好運氣什麼時候降臨嗎？一起來做個運氣測驗吧。\n\n\n倘若讓你畫一幅風景畫，你會選擇？",
        options: [
            { ans: '荷塘月色', value: 3 },
            { ans: '田園風光', value: 4 },
            { ans: '山水', value: 2 },
            { ans: '樹林', value: 1 }
        ]
      }
    },
    computed: {
      total: function(){
        var sum = 0;
        this.questions.forEach(function(v){
          sum += Number(v.selected);
        });
        return sum;
      },
      questions_show: function(){
        str_ary = [];
        this.questions.forEach(function(v){
          str_ary.push(v.quest.replace(/(?:\r\n|\r|\n)/g, '<br>'));
        });
        return str_ary;
      }
    },
    mounted: function(){
      this.setPage(this.page);
    },
    methods: {
      settlement: function(){
        var over = true;
        for(var i in this.questions){
          var v = this.questions[i];
          if(v.selected === null) over = false;
        }
        if(over === false) { alert('尚未填寫完畢！'); return ; }
        alert('總分: ' + this.total);
      },
      reset: function(){
        this.questions.forEach(function(v){
          v.selected = null;
        });
        this.current = 0;
      },
      setPage: function(page){
        if(['game', 'create'].includes(page)){
          this.page = page;
          this.$el.querySelectorAll('textarea').forEach(function(v){
            var el = v;
            window.setTimeout(function(){
              el.style.cssText = 'height:' + el.scrollHeight + 'px';
            }, 10);
          });
        }
      },
      setCurrent: function(idx, check){
        check = check || false;
        if(idx < 0) return ;
        if(idx >= this.questions.length) return ;
        if((check === true) && (this.checkCurrentSelected() === false)) return ;
        this.current = idx;
      },
      checkCurrentSelected: function(){
        if(this.questions[this.current].selected === null){
          alert('尚未選擇答案！');
          return false;
        }
        return true;
      },
      createQuest: function(){
        this.questions.push(this.new_question);
        this.resetQuest();
      },
      resetQuest: function(){
        this.new_question = {
          quest: '',
          options: [
              { ans: '', value: 0 },
              { ans: '', value: 0 },
              { ans: '', value: 0 },
              { ans: '', value: 0 }
          ]
        }
      },
      autoHeight: function(event){
        var el = event.target;
        window.setTimeout(function(){
          el.style.cssText = 'height:' + el.scrollHeight + 'px';
        }, 10);
      }
    },
  });
  </script>
</body>
</html>
